// 색상 변수
$main-color: #3498db;
$danger-color: #e74c3c;
$primary-color: #63acfa;
$secondary-color: #6c757d;
$border-radius: 10px;
$box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
// 크기 변수
$padding-size: 10px 16px;
$radius: 8px;
