/* @import "tailwindcss"; */
* {
  /* margin: 0; */
  /* padding: 0; */
  box-sizing: border-box;
}
ul,
ol {
  list-style: none;
}
#app {
  /* max-width: 1280px;
  margin: 0 auto;
  font-weight: normal; */
}

a {
  text-decoration: none;
  color: #333;
}
